/*  your css code here. If applicable */
body{
	background-color:#cccccc;
}
.player_one, .player_two{
	background-color:white;
	padding:10px;
	border-radius:5px;
	
}
h1{
	text-align:center;
}
ul{
	list-style:none;
}
a{
	color:#cccccc;
	text-decoration-line:none;
}